.GridHeader

{
	
font-family:Verdana;
	
font-size:10px;
	
font-weight:bold;
	
background-color:#006699;
	
text-align:center;
	
color:White;

}


.GridAltItems

{
	
font-family:Verdana;
	
font-size:10px;
	
background-color:AliceBlue;

}


.GridItems

{
	
font-family:Verdana;

font-size:10px;
	
background-color:White;

}
